#if(!$package.isEmpty())
package $package;
#end

import org.hibernate.Criteria;
import org.hibernate.Query;
import org.hibernate.criterion.Restrictions;
import java.util.List;
import com.ssh.system.dao.base.BaseEntryDaoImp;
#foreach($importClass in $importClassList)
import $importClass;
#end

/**
 * @author $author
 * @Description $comment
 * @date $date
 */
public class $simpleName extends BaseEntryDaoImp<$entitySimpleName, $primaryKeyDataType> implements $DaoName {

    @Override
    public List<$entitySimpleName> findListByStatus(Integer status) {
        Criteria c = getSession().createCriteria($entitySimpleClassName);
        c.add(Restrictions.eq("status", status));
        return c.list();
    }

    @Override
    public int delById($primaryKeyDataType id) {
        String sql = "DELETE FROM $entitySimpleName WHERE id=?";
        Query query = getSession().createQuery(sql);
        query.setParameter(0, id);
        return query.executeUpdate();
    }

}