#if(!$package.isEmpty())
package $package;
#end

import org.hibernate.Criteria;
import org.hibernate.Query;
import org.hibernate.criterion.Restrictions;
import java.util.List;
import com.ssh.system.dao.base.BaseEntryDaoImp;
#foreach($importClass in $importClassList)
import $importClass;
#end

/**
* $comment
* @author $author
* @date $date
*/
public class $simpleName extends BaseEntryDaoImp<$entitySimpleName, $primaryKeyDataType> implements $DaoName {

}